*{
  border : 0;
  padding: 0;
  margin: 0;
}
body{
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
}
div{
  display: flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
  font-family:big jhon;
  width:100%;
  height:100vh;
}
h2{
  font-size: 60px;
  background:#eee;
  padding:8px 24px;
  border-radius:16px;
}
div:nth-child(1){
  background-image:url('../img/div1.jpg');
  background-size:cover;
  scroll-snap-align:start;
}
div:nth-child(2){
  background: maroon;
  scroll-snap-align:start;
  
}
div:nth-child(3){
  
  background-image:url('../img/div3.jpg');
  background-attachment:fixed;
  background-size:cover;
  scroll-snap-align:start;
}
div:nth-child(4){
  background: aquamarine;
  scroll-snap-align:start;
} 
